{{!-- MAIN --}}
<main class="mt-4">

    <div class="card bg-dark text-white">
        <img src="./assets/img/snowpeak.jpeg" height="350" class="card-img" alt="hero pic" />
        <div class="peak-pic card-img-overlay">
            <h1 class="card-title display-1">Peaks</h1>
            <p class="fondo card-text">
                The world is huge! There a countless places to go to with your
                adventure buddy. Scroll down to learn more
            </p>
        </div>
    </div>
    <div class="container-fluid">
        <br />
        <h2 class="text-center">Select a peak</h2>
        <br />
        <!--cards will populate api info-->
        <div class="card-deck">
            <div class="card">
                <img src="./assets/img/giantMtn.jpg" class="card-img-top img-fluid" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Giant Mtn</h5>
                    <p class="card-text">
                        A peak with beautiful scrambles and even nicer views.
                    </p>
                </div>
                <div class="card-footer">
                    <button type="submit" data-peak="giant" class="btn btn-primary btn-lg peakButton">
                        Click to choose your trail!
                    </button>
                </div>
            </div>
            <div class="card">
                <img src="./assets/img/mtMarcy.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Mt Marcy</h5>
                    <p class="card-text">
                        Mt Marcy is the highest peak in the state of New York. Be sure to pack appropriately for
                        this long and enjoyable peak.
                    </p>
                </div>
                <div class="card-footer">
                    <button type="submit" data-peak="marcy" class="btn btn-primary btn-lg peakButton">
                        Click to choose your trail!
                    </button>
                </div>
            </div>

        </div>
    </div>

    <section class="trailsList row row-cols-1 row-cols-md-4">
        <template id="trails-template">
            <div class="card trail-item">
                <img class="trail-photo img-fluid" width="250px" height="auto" src="#" alt="Picture of trail">
                <div class="card-body">
                    <h3 class="trail-title"></h3>
                    <p><span class="trail-description"></span></p>
                    <p>Mileage: <span class="mileage"></span></p>
                    <p>Elevation gain: <span class="elevation-gain"></span></p>
                    <button type="button" data-trailId class="btn btn-danger btn-sm add-button trailButton">
                        Add to Bucket List!</button>
                </div>

            </div>
        </template>

    </section>

</main>
{{!-- MAIN --}}

{{!-- SCRIPTS --}}
<script type="text/javascript" src="js/peakSelection.js"></script>