<!-- Hero Image -->
<main class="hero">
    <section class="jumbotron text-center hero-jumbotron">
        <div class="container centered">
            <div class="row">
                <div class="col-md-6 mx-auto d-flex align-items-center justify-content-center">
                    <div class="flex-column">
                        <div>
                            <h1>Adventure Awaits</h1>
                            <h3>Search your favorite outdoor activities, create a bucket list, and find friends to
                                join you on your journey!</h3>
                        </div>
                        <br />
                        <div><button type="button" class="btn btn-info"><a href="/signup">Get
                                    Started</a></button></div>
                        <br />
                        <div><button type="button" class="btn btn-info"><a href="/login">MyAccount</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Hero Image -->

<!-- Scripts -->
<script src="./js/script.js"></script>
<!-- Scripts -->