<!-- Hero Image -->
<main class="hero">
    <section class="jumbotron text-center hero-jumbotron">
        <div class="container centered">
            <div class="row">
                <div class="col-md-6 mx-auto d-flex align-items-center justify-content-center">
                    <div class="flex-column">
                        <div>
                            <h1>Adventure Awaits</h1>
                            <h3>Search your favorite outdoor activities, create a bucket list, and find friends to
                                join you on your journey!</h3>
                        </div>
                        <br />
                        <div><button type="button" class="btn btn-info"><a href="./signup.html">Get
                                    Started</a></button></div>
                        <br />
                        <div><button type="button" class="btn btn-info"><a href="./login.html">MyAccount</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Hero Image -->

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
<script src="./js/script.js"></script>
<!-- Scripts -->