<!-- Cards -->
    <main>
        <div class="row row-cols-1 row-cols-md-2 mt-4">
            <div class="col mb-4">
                <div class="card">
                    <img src="./assets/img/bucketv2.jpg" height="250" width="250" class="card-img-top img-fluid" alt="">
                    <div class="card-body">
                        <h5 class="card-title text-center">Your Bucket List</h5>
                        <p class="card-text text-center">Choose from your Bucket List</p>
                        <a href="/bucketlist"
                            class="btn btn-primary stretched-link d-flex justify-content-center">The
                            choice is yours!</a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="./assets/img/hiking.jpeg" height="250" width="250" class="card-img-top img-fluid"
                        alt="hiking">
                    <div class="card-body">
                        <h5 class="card-title text-center">Hiking</h5>
                        <p class="card-text text-center">Choose your favorite place to hike</p>
                        <a href="/regions"
                            class="btn btn-primary stretched-link d-flex justify-content-center">Let's
                            Hike!</a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="./assets/img/travel-world.jpeg" height="250" width="250" class="card-img-top img-fluid"
                        alt="Travel">
                    <div class="card-body">
                        <h5 class="text-center card-title">Travel</h5>
                        <p class="card-text text-center">Choose your favorite destination abroad</p>
                        <a href="#travel" class="btn btn-primary stretched-link d-flex justify-content-center">Go
                            Abroad!</a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="./assets/img/climbing.jpeg" height="250" width="250" class="card-img-top img-fluid"
                        alt="Climbing">
                    <div class="card-body">
                        <h5 class="card-title text-center">Climbing</h5>
                        <p class="card-text text-center">Choose your favorite mountain to climb</p>
                        <a href="#climbing" class="btn btn-primary stretched-link d-flex justify-content-center">Let's
                            Climb!</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Cards -->