{{!-- MAIN --}}
<main class="mt-4">
    <div class="card bg-dark text-white">
        <img src="./assets/img/regionhero.jpeg" height="350" class="card-img" alt="hero pic">
        <div class="fondo-pic card-img-overlay">
            <h1 class="card-title display-1">Adventures</h1>
            <p class="fondo card-text">The world is huge! There a countless places to go to with your adventure
                buddy.
                Scroll
                down to learn more</p>
        </div>
    </div>
    <div class="container-fluid">
        <br>
        <h2 class="text-center">Select a region</h2>
        <br>

        <div class="card-deck">
            <div class="card">
                <img src="./assets/img/dacks.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Adirondacks</h5>
                    <p class="card-text">Home to some of the most wild and remote terrain on the East Coast, the
                        Adirondacks will leave your legs and heart pumping.</p>
                </div>
                <div class="card-footer">
                    <a href="/adirondackPeaks" class="btn btn-primary btn-lg">Click to choose your peak!</a>
                </div>
            </div>
            <div class="card">
                <img src="./assets/img/katahdin.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Northern Maine</h5>
                    <p class="card-text">This region will present you with beautiful lakes, and mountains that seem to
                        have been transplanted from the West Coast. Come take a look at what Maine has to offer.</p>
                </div>
                <div class="card-footer">
                    <a href="/peaks" class="btn btn-primary btn-lg">Click to choose your peak!</a>
                </div>
            </div>
            <div class="card">
                <img src="./assets/img/presidentials.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The Presidentials</h5>
                    <p class="card-text">This range holds the record for the largest alpine zone in our region with some
                        of most beautiful and dramatic views.</p>
                </div>
                <div class="card-footer">
                    <a href="/peaks" class="btn btn-primary btn-lg">Click to choose your peak!</a>
                </div>
            </div>
        </div>
    </div>

</main>
{{!-- MAIN --}}

{{!-- SCRIPTS --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
<script type="text/javascript" src="js/members.js"></script>