<main>
    <div class="card bg-dark text-white">
        <img src="./assets/img/pacifictrails.jpeg" height="400" class="card-img" alt="hero pic">
        <div class="trails-pic card-img-overlay">
            <h1 class="card-title display-1">Trails</h1>
            <p class="fondo card-text">The world is filled with many trails. Choose a trail of your choice and then find
                an adventure buddy</p>
        </div>
    </div>

    <div class="container-fluid">
        <br>
        <h2 class="text-center">Select a trail</h2>
        <br>
        <!--cards will populate api info-->
        <div class="card-deck">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-lg">Find Adventure
                        Buddies!</button>
                </div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional
                        content.</p>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-lg">Find Adventure
                        Buddies!</button>
                </div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal
                        height action.</p>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-lg">Find Adventure
                        Buddies!</button>
                </div>
            </div>
        </div>
    </div>
</main>

{{!-- Scripts --}}
<script type="text/javascript" src="js/peakSelection.js"></script>