/* bucketlist */
main.bucketlist-main {
  background-image: url("../assets/img/bucketlist.jpg");
  min-height: 140vh;
  background-size: 100%;
  display: flex;
  flex-direction: column;
}

div.bucketlist-jumbotron {
  background: none;
}

div.jumbotron h1 {
  font-weight: bold;
  color: white
}

div.jumbotron p {
  font-weight: bold;
  color: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  color: white;
  position: relative;
  bottom: 0px;
}

li.bucketlist-item {
  background-color: rgb(255, 255, 255, 0.7);
  font-weight: bold;
  font-size: 20px;
  border: 1px solid black;
}

input.form-check-input {
  width: 30px;
  height: 30px;
  position: relative;
}

span.trail-text {
  position: relative;
  bottom: 8px;
}

button.delete-button {
  float: right;
  position: relative;
  top: 6px;
}

button.find-buddies {
  margin-top: 30px;
  background-color: rgb(32, 178, 170);
  border: 1px solid rgb(32, 178, 170);
  font-weight: bold;
  margin-bottom: 30px;
}

/* buddy modal */
div.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

div.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  position: relative;
}

span.span-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

button.close {
  float: left;
  margin-bottom: 20px;
  color: red;
}

button.close:hover,
button.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

li.buddylist-item {
  background-color: rgb(255, 255, 255, 0.7);
  font-weight: bold;
  font-size: 20px;
  border: 1px solid black;
}

span.buddy-name {
  position: relative;
  top: 2px;
}

button.email-buddy {
  float: right;
  position: relative;
}