@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-color: lightgray;
  font-family: Poppins, sans-serif;
}

h1 {
  font-family: Poppins, sans-serif;
  font-size: 36px;
  color: white;
}

h2 {
  font-family: Poppins, sans-serif;
  font-size: 36px;
  text-align: center;
}

h3 {
  font-family: Poppins, sans-serif;
  font-size: 24px;
  color: white;
}

h4 {
  font-family: Poppins, sans-serif;
}

p {
  font-family: Poppins, sans-serif;
}


/* NAVIGATION */
nav.navbar {
  font-family: Poppins, sans-serif;
}

.navbar-brand.logo  {
  text-decoration: none;
  color: white;
}

nav.navbar .nav-item .nav-link {
  font-family: Poppins, sans-serif;
  text-decoration: none;
  color: white;
}

nav.navbar-light {
  font-family: Poppins, sans-serif;
  background-color: steelblue;
}


/* PAGE HEROS */
.jumbotron {
  width: 100%;
}

.hero {
  height: 100vh;
  background-image: url(../assets/img/friends-hiking.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.hero-login {
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.hero-signup {
  background-image: url("https://images.pexels.com/photos/129105/pexels-photo-129105.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.hero-jumbotron {
  background: none;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* BUTTONS */
.btn {
  border-radius: 20px;
  border: 0px solid;
  padding: 5px 40px;
  font-size: 20px;
  background-color: steelblue;
  color: white;
}

.btn a {
  text-decoration: none;
  color: white;
}

.btn:hover {
  background-color: white;
  color: steelblue;
}

.btn a:hover {
  text-decoration: none;
  color: steelblue;
}



/* CHOICES */
div.card-body {
  background-color: rgba(56, 56, 151, 0.384);
}

p.invalid-input {
  display: none;
  color: #ff0000;
}



/* LOGIN & SIGNUP PAGES */
.col-sm-6 {
  background-color: steelblue;
  color: white;
  padding: 50px;
  border-radius: 25px;
  margin-top: 80px;
  opacity: 90%;
}

.login input, .signup input, .form-control {
  border-radius: 20px;
}

.btn.btn-primary.login {
  background-color: white;
  color: steelblue;
}

.btn.btn-primary.login:hover{
  background-color: gray;
  color: white;
}



/* FOOTER */
footer {
  background: #999999;
  color: #fff;
  text-align: center;
  padding: 50px;
  font-family: Poppins, sans-serif;
  /* position: absolute; */
  bottom: 0;
  width: 100%;
}

.social {
  font-size: 24px;
  color: white; 
  text-decoration: none;
  
}

.social a {
  color: white;
  text-decoration: none;
  padding: 20px;
}

.social a:hover {
  color: steelblue;
}

.github {
  font-size: 14px;
  color: white; 
  text-decoration: none;
  
}

.github a {
  color: steelblue;
  text-decoration: none;
  padding: 5px;
}

.github a:hover {
  color: white;
}



/* MEDIA QUERIES */
@media (max-width: 576px) {
  .navbar-brand.logo  {
    font-size: 14px;
  }

  .hero {
    background-image: url(../assets/img/friends-hiking.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
  }
}
